.services-header
{
    background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)), url(./gourmet-table-white-dish-catering.jpg);
    background-position: center;
    background-size: cover;
    height: 75vh;
}